# Trabalho – Predição e Regressão Lineares

- Prazo: 21/05.
- valor 4,0 pontos

Ao enviar o e-mail, escreva na linha do Assunto que é o Trabalho de Predição/Regresssão e os nomes dos alunos.

É importante produzir algum texto que analise criticamente cada gráfico/tabela/quadro/mapa.
Eventualmente vocês podem observar alguma observação que potencialmente possa estar associada com a violação de alguns dos pressupostos do modelo de regressão linear. Cabe listar tais observações.Uma das ferramentas para a identificação de tais observações pode ser o summary(seu_conjunto_de_dados) ao observar quais são as observações extremas (máximas ou mínimas). Tais observações podem estar associadas com outliers, pontos de influência e alavancagem, Heterocedasticidade ou não-normalidade. Nos histogramas podemos observar tais observações como aqueles valores extremos que reforçam a assimetria da distribuição.


> Dados (housing.csv)

### Preparação

1. **Importe os dados em um data.frame de nome housing.**

OBS: Cada modelo que você criar dê os nomes house1, house2, house3, etc. 

2. **(0,25 ponto) Renomear as colunas do conjunto de dados. Os novos nomes deverão ser:**
> Neighborhood, Class, Units, YearBuilt, SqFt, Income, IncomePerSqFt, Expense, ExpensePerSqFt, NetIncome, Value, ValuePerSqFt e Boro.

3. **Salve os nomes novos em um vetor de caracteres nomes_novos.** 

4. **Salve este vetor em colnames(housing).**

### Investigação sobre os dados:
 
5. **(0,25 ponto) Faça um histograma colocando no eixo x ValuePerSqFt.** 

OBS: Este histograma possui a característica de bimodalidade. Pesquise sobre o que pode significar um histograma bimodal e o que isso pode implicar para o Cientista de Dados a respeito do conjunto de dados.

6. **(0,25 ponto) Plote um histograma para cada um dos bairros: Manhatan, Brooklyn, Queens, Bronx e Staten Island.**

OBS: Produza uma breve análise sobre o que é possível concluir a respeito desses histogramas. Os histogramas apresentam forte assimetria? Em que isto pode afetar a regressão?

7. **(0,25 ponto) Investigue NA´s (Not Available = missing data = dados ausentes)**
    - Faça summary(housing). Você identifica valores ausentes? 
    - Faça sum(is.na(housing) para contar quantos são os valores ausentes. 
    - Eles estão espalhados por mais de uma variável? 
    - Pesquise sobre os comandos na.omit e complete.cases. 
    - Faça a tabela de dupla entrada tabela_Boro_class<-xtabs (~Boro + Class, data = housing). Algo chama a atenção?
    - Faça prop.table(tabela_Boro_class)

8. **(0,5 ponto) Construa os modelos de regressão:**


{-------------------------- **Codigo louco do frança**

	house1:ValuePerSqFt~Units+SqFt+YearBuilt+Income+Boro
	house2:ValuePerSqFt~Units*SqFt+YearBuilt+IncomePerSqFt+Income	+Boro
	house_log1:ValuePerSqFt~log⁡(Units)+log⁡(SqFt)+Boro
	house_log2:log⁡(ValuePerSqFt)~log⁡(Units)+log⁡(SqFt)+Boro
    
--------------------------------}



9. **Compare os modelos usando AIC(modelo1, modelo2, modelo3,modelo4)**

OBS: Um dos critérios para se comparar modelos de regressão é o Akaike Information Criteria AIC. 


10. **(0,5 ponto) Apresente os gráficos de resíduos x fitted para cada um dos modelos. O que eles sugerem?**

11. **(0,5 ponto) Faça o correspondente teste de Hipótese. Qual sua conclusão para cada modelo?**

12. **(0,5 ponto) Apresente os gráficos qqPlot para cada modelo. O que eles sugerem?**

13. **(0,5 ponto) Faça o correspondente teste de hipótese. Qual sua conclusão?**

14. **(0,5 ponto) Algum dos modelos apresenta problemas de multicolinearidade?**

{-----------------------------  **Dicas do frança**

	Outros itens que acabamos não abordando nesta disciplina foram: 
	separar os dados em conjuntos treino e teste
	verificar sobreajuste (over-fitting) 
	mudanças de escalas nas variáveis. Por vezes as variáveis preditoras 
	estão em escalas muito diferentes e temos que normalizá-las 	
	(ou estandardizá-las) subtraindo a média e dividindo pelo desvio padrão 	
	para ficarem todas comparáveis na mesma escala. 
	
	Não cheguei a testar neste conjunto de dados, mas é capaz que 	
	tentar construir um modelo de regressão para cada bairro, talvez 	
	reduza a Heterocedasticidade. 
---------------------------}

In [1]:
import pandas as pd

In [2]:
housing = pd.read_csv('housing.csv')

In [4]:
#O conjunto de dados (housing.csv) refere-se a um conjunto de dados do município de NY 
    #ano fiscal de 2011-2012 
#Os dados estão separados por bairro:
    #Manhatan, Brooklyn, Queens, Bronx e Staten Island. 

housing.head()

,Neighborhood,Building.Classification,Total.Units,Year.Built,Gross.SqFt,Estimated.Gross.Income,Gross.Income.per.SqFt,Estimated.Expense,Expense.per.SqFt,Net.Operating.Income,Full.Market.Value,Market.Value.per.SqFt,Boro
0,FINANCIAL,R9-CONDOMINIUM,42,1920.0,36500,1332615,36.51,342005,9.37,990610,7300000,200.00,Manhattan
1,FINANCIAL,R4-CONDOMINIUM,78,1985.0,126420,6633257,52.47,1762295,13.94,4870962,30690000,242.76,Manhattan
2,FINANCIAL,RR-CONDOMINIUM,500,NaN,554174,17310000,31.24,3543000,6.39,13767000,90970000,164.15,Manhattan
3,FINANCIAL,R4-CONDOMINIUM,282,1930.0,249076,11776313,47.28,2784670,11.18,8991643,67556006,271.23,Manhattan
4,TRIBECA,R4-CONDOMINIUM,239,1985.0,219495,10004582,45.58,2783197,12.68,7221385,54320996,247.48,Manhattan

# TABELA LEGENDA DAS COLUNAS

<table style="width:100%">
  <tr>
    <th>coluna</th>
    <th>traducao</th>
    <th>nova_coluna</th>
  </tr>
  <tr>
    <td>Neighborhood</td>
    <td>Vizinhança</td>
    <td>Neighborhood</td>
  </tr>
  <tr>
    <td>Building.Classification</td>
    <td>Classificação do edifício</td>
    <td>Class</td>
  </tr>
  <tr>
    <td>Total.Units</td>
    <td>Unidades totais</td>
    <td>Units</td>
  </tr>
  <tr>
    <td>Year.Built</td>
    <td>Ano de construção</td>
    <td>YearBuilt</td>
  </tr>
  <tr>
    <td>Gross.SqFt</td>
    <td>Pés quadrados bruto</td>
    <td>SqFt</td>
  </tr>
  <tr>
    <td>Estimated.Gross.Income</td>
    <td>Renda Bruta Estimada</td>
    <td>Income</td>
  </tr>
  <tr>
    <td>Gross.Income.per.SqFt</td>
    <td>Renda Bruta por pé quadrado</td>
    <td>IncomePerSqFt</td>
  </tr>
  <tr>
    <td>Estimated.Expense</td>
    <td>Despesa estimada</td>
    <td>Expense</td>
  </tr>
  <tr>
    <td>Expense.per.SqFt</td>
    <td>Despesa por pé quadrado</td>
    <td>ExpensePerSqFt</td>
  </tr>
  <tr>
    <td>Net.Operating.Income</td>
    <td>Receita operacional líquida</td>
    <td>NetIncome</td>
  </tr>
  <tr>
    <td>Full.Market.Value</td>
    <td>Valor total de mercado</td>
    <td>Value</td>
  </tr>
  <tr>
    <td>Market.Value.per.SqFt</td>
    <td>Valor de mercado por pé quadrado</td>
    <td>ValuePerSqFt</td>
  </tr>
  <tr>
    <td>Boro</td>
    <td>Bairro</td>
    <td>Boro</td>
  </tr>
</table>

In [ ]:
#1. **Importe os dados em um data.frame de nome housing.**
#2. **(0,25 ponto) Renomear as colunas do conjunto de dados. Os novos nomes deverão ser:**
    # Neighborhood, Class, Units, YearBuilt, SqFt, Income, IncomePerSqFt, Expense, ExpensePerSqFt, NetIncome, Value, ValuePerSqFt e Boro.
#3. **Salve os nomes novos em um vetor de caracteres nomes_novos.** 
#4. **Salve este vetor em colnames(housing).**

In [13]:
nomes_novos = ['Neighborhood', 'Class', 'Units', 'YearBuilt', 'SqFt', 'Income', 'IncomePerSqFt', 'Expense', 'ExpensePerSqFt', 'NetIncome', 'Value', 'ValuePerSqFt','Boro']

In [14]:
housing.rename(columns={"Neighborhood": "Neighborhood", "Building.Classification": "Class", "Total.Units": "Units", "Year.Built": "YearBuilt", "Gross.SqFt": "SqFt", "Estimated.Gross.Income": "Income", "Gross.Income.per.SqFt": "IncomePerSqFt", "Estimated.Expense": "Expense", "Expense.per.SqFt": "ExpensePerSqFt", "Net.Operating.Income": "NetIncome", "Full.Market.Value": "Value", "Market.Value.per.SqFt": "ValuePerSqFt", "Boro": "Boro"})

,Neighborhood,Class,Units,YearBuilt,SqFt,Income,IncomePerSqFt,Expense,ExpensePerSqFt,NetIncome,Value,ValuePerSqFt,Boro
0,FINANCIAL,R9-CONDOMINIUM,42,1920.0,36500,1332615,36.51,342005,9.37,990610,7300000,200.00,Manhattan
1,FINANCIAL,R4-CONDOMINIUM,78,1985.0,126420,6633257,52.47,1762295,13.94,4870962,30690000,242.76,Manhattan
2,FINANCIAL,RR-CONDOMINIUM,500,NaN,554174,17310000,31.24,3543000,6.39,13767000,90970000,164.15,Manhattan
3,FINANCIAL,R4-CONDOMINIUM,282,1930.0,249076,11776313,47.28,2784670,11.18,8991643,67556006,271.23,Manhattan
4,TRIBECA,R4-CONDOMINIUM,239,1985.0,219495,10004582,45.58,2783197,12.68,7221385,54320996,247.48,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2621,ROSEBANK,R4-CONDOMINIUM,52,NaN,62391,831672,13.33,326305,5.23,505367,3354003,53.76,Staten Island
2622,ARROCHAR-SHORE ACRES,R4-CONDOMINIUM,102,1987.0,90618,1274089,14.06,637045,7.03,637044,5233000,57.75,Staten Island
2623,GRANT CITY,R4-CONDOMINIUM,100,1986.0,78903,1321625,16.75,673832,8.54,647793,4687000,59.40,Staten Island
2624,GRANT CITY,R4-CONDOMINIUM,159,1961.0,166712,2343971,14.06,1171985,7.03,1171986,5967531,35.80,Staten Island
2625,GREAT KILLS,R4-CONDOMINIUM,67,1965.0,108864,1298748,11.93,722857,6.64,575891,3673011,33.74,Staten Island

In [16]:
housing.shape

(2626, 13)

In [17]:
housing.describe()

,Total.Units,Year.Built,Gross.SqFt,Estimated.Gross.Income,Gross.Income.per.SqFt,Estimated.Expense,Expense.per.SqFt,Net.Operating.Income,Full.Market.Value,Market.Value.per.SqFt
count,2626.000000,2530.000000,2.626000e+03,2.626000e+03,2626.000000,2.626000e+03,2626.000000,2.626000e+03,2.626000e+03,2626.000000
mean,70.183930,1967.460474,8.276287e+04,2.640882e+06,27.572136,8.409161e+05,9.400316,1.799966e+06,1.297781e+07,131.187205
std,135.128699,40.155267,1.440237e+05,4.635768e+06,10.588550,1.447247e+06,2.354041,3.276328e+06,2.374528e+07,68.546357
min,1.000000,1825.000000,4.780000e+02,6.424000e+03,3.570000,1.740000e+03,0.970000,4.684000e+03,3.000000e+04,10.660000
25%,15.000000,1926.000000,1.870450e+04,4.051800e+05,18.790000,1.555148e+05,7.640000,2.396998e+05,1.677750e+06,74.632500
50%,30.000000,1986.000000,3.845550e+04,9.439010e+05,25.000000,3.502635e+05,9.180000,5.815225e+05,4.026500e+06,112.220000
75%,75.000000,2005.000000,9.062625e+04,2.725550e+06,36.820000,8.990845e+05,11.050000,1.805149e+06,1.313675e+07,187.490000
max,3378.000000,2010.000000,3.364977e+06,5.601097e+07,62.800000,2.177140e+07,18.210000,4.014469e+07,2.951820e+08,399.380000

In [15]:
#5. **(0,25 ponto) Faça um histograma colocando no eixo x ValuePerSqFt.** 
#OBS: Este histograma possui a característica de bimodalidade. 
#Pesquise sobre o que pode significar um histograma bimodal e o que isso pode implicar para o 
#Cientista de Dados a respeito do conjunto de dados.


#6. **(0,25 ponto) Plote um histograma para cada um dos bairros: 
    #Manhatan, Brooklyn, Queens, Bronx e Staten Island.**
#OBS: Produza uma breve análise sobre o que é possível concluir a respeito desses histogramas.
#Os histogramas apresentam forte assimetria? Em que isto pode afetar a regressão?